 /*HEADER*/
body {
    padding-top: 330px;
}

.sticky-shrinknav-menu {
    position: absolute;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    bottom: 0;
    height: 3.75rem;
    line-height: 3.75rem;
    width: 100%;
    background-color: rgba(23, 121, 186, 0.1);
    transition: all 0.5s ease;
}

.sticky-shrinknav-menu li {
    border-radius: 2px;
    transition: all 0.3s ease;
}

.sticky-shrinknav-menu li:hover {
    box-shadow: 0 0 0 1px #fefefe;
}

.sticky-shrinknav-menu a {
    color: #fefefe;
}

.sticky-shrinknav-header-title {
    transition: all 0.3s ease;
    position: relative;
    -webkit-transform: translateY(-1.875rem);
    -ms-transform: translateY(-1.875rem);
    transform: translateY(-1.875rem);
    margin-bottom: 0;
    color: #fefefe;
}

.sticky-shrinknav-header {
    width: 100%;
    height: 300px;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #3F3F3F;
    text-align: center;
    position: fixed;
    top: 0;
    left: 0;
    overflow: hidden;
    transition: all 0.5s ease;
}

body.sticky-shrinknav-wrapper {
    padding-top: 130px;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header {
    height: 3.75rem;
    background-color: #3F3F3F;
}

body.sticky-shrinknav-wrapper .sticky-shrinknav-header .sticky-shrinknav-header-title {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
    transition: all 0.3s ease;
}
/*CONNEXION*/




